<form class="login-page-form" action="" onsubmit="return false;" data-js-login-form>
    <div class="login-wrapper">
        <h2>Welcome home :)</h2>

        <div class="email-input input-field">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>
        <div class="password-input input-field">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>

        <div class="submit-button">
            <button class="submit" data-js-login-button>Submit</button>
        </div>

    </div>
</form>