@import '../../../styles.less';

header {
    padding: 1rem;
    background-color: @main-bg;
    display: flex;
    justify-content: space-between;
    a {
        line-height: 54px;
        text-decoration: none;
        h1 {
            font-size: 36px;
            margin: 0;
            padding: 0;
            line-height: 42px;
            height: 100%;
            align-self: center;
            color: white;
            text-decoration: none;
            position: relative;
            span {
                vertical-align: -webkit-baseline-middle;
            }
            
        }
    }
    

    .buttons {
        display: flex;
        justify-content: center;
        button {
            margin: 0 12px;
            float: right;
            border: 2px solid white;
            padding: 1rem;
            color: white;
            font-size: 1rem;
            border-radius: 4px;
            position: relative;
            z-index: 4000;
            transition: 0.1s ease-in-out;
            cursor: pointer;

            &::before {
                content: '';
                position: absolute;
                background-color: rgba(60, 175, 37, 0);
                top: 0; left: 0; bottom: 0; right: 0;
                border-radius: 90px 0 90px 0;
                transition: 0.1s ease-in-out;
                z-index: -1;

            }
            &:hover::before {
                background-color: rgba(173, 173, 173, 0.397);
                transition: 0.1s ease-in-out;

            }
        }
    }
}
    


.expanding-letters {

    &:hover span{
        width: 138px;
        transition: 0.3s ease-in-out;
    }


    span {
        display: inline-block;
        width: 28px;
        overflow: hidden;
        transition: 0.3s ease-in-out;
        
    }
}